Aplicacao.json
[{"id":"3c8adc1.86fef24","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5168955b.066c1c","type":"http request","z":"3c8adc1.86fef24","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.airtable.com/v0/appFeEmnGkxO0Qpri/Table%201?maxRecords=3&view=Grid%20view","tls":"","persist":false,"proxy":"","authType":"bearer","x":330,"y":160,"wires":[["fd57fd5f.f281"]]},{"id":"fd57fd5f.f281","type":"json","z":"3c8adc1.86fef24","name":"","property":"payload","action":"","pretty":false,"x":490,"y":160,"wires":[["10aeaf0.ce16751"]]},{"id":"abb04e0f.733","type":"inject","z":"3c8adc1.86fef24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["5168955b.066c1c"]]},{"id":"dd5d0f17.97d12","type":"comment","z":"3c8adc1.86fef24","name":"Select","info":"","x":110,"y":120,"wires":[]},{"id":"10aeaf0.ce16751","type":"function","z":"3c8adc1.86fef24","name":"","func":"var vagas = {\n    \"Vaga1\": parseInt(msg.payload.records[0].fields.Valor, 10),\n    \"Vaga2\": parseInt(msg.payload.records[1].fields.Valor, 10),\n    \"Vaga3\": parseInt(msg.payload.records[2].fields.Valor, 10)\n}\n\nlet json = JSON.stringify(vagas);\nmsg.payload = json\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":160,"wires":[["f1338135.73ac3"]]},{"id":"28eb25ea.50714a","type":"mqtt out","z":"3c8adc1.86fef24","name":"","topic":"Vagas","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9d582f2d.e80d","x":930,"y":160,"wires":[]},{"id":"436afed5.d2df5","type":"mqtt in","z":"3c8adc1.86fef24","name":"","topic":"Vagas","qos":"2","datatype":"auto","broker":"9d582f2d.e80d","nl":false,"rap":true,"rh":0,"x":110,"y":340,"wires":[["b95c4ff9.c4bbe"]]},{"id":"f1338135.73ac3","type":"json","z":"3c8adc1.86fef24","name":"","property":"payload","action":"","pretty":false,"x":790,"y":160,"wires":[["28eb25ea.50714a"]]},{"id":"b4d0e00d.5ebd1","type":"function","z":"3c8adc1.86fef24","name":"","func":"var vaga = parseInt(msg.payload.Vaga1, 10)\nmsg.payload = vaga\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":340,"wires":[["81fc6d19.5f8b9","54a96d80.c6f544"]]},{"id":"b95c4ff9.c4bbe","type":"json","z":"3c8adc1.86fef24","name":"","property":"payload","action":"","pretty":false,"x":250,"y":340,"wires":[["b4d0e00d.5ebd1","92a01f54.6da36","c93190e1.4bcc9","a2cf54b2.d70ea8"]]},{"id":"81fc6d19.5f8b9","type":"debug","z":"3c8adc1.86fef24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":340,"wires":[]},{"id":"92a01f54.6da36","type":"function","z":"3c8adc1.86fef24","name":"","func":"var vaga = parseInt(msg.payload.Vaga2, 10)\nmsg.payload = vaga\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":440,"wires":[["2b1bac71.6493b4","61dddb2d.285544"]]},{"id":"2b1bac71.6493b4","type":"debug","z":"3c8adc1.86fef24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":440,"wires":[]},{"id":"c93190e1.4bcc9","type":"function","z":"3c8adc1.86fef24","name":"","func":"var vaga = parseInt(msg.payload.Vaga3, 10)\nmsg.payload = vaga\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":540,"wires":[["bb56fab3.3e1708","396ab8f4.f567d8"]]},{"id":"bb56fab3.3e1708","type":"debug","z":"3c8adc1.86fef24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":540,"wires":[]},{"id":"a2cf54b2.d70ea8","type":"debug","z":"3c8adc1.86fef24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":640,"wires":[]},{"id":"54a96d80.c6f544","type":"ui_template","z":"3c8adc1.86fef24","group":"b6a1ed95.1783a","name":"Vaga1","order":3,"width":"3","height":"3","format":"<style>\n.dot {\n  height: 50px;\n  width: 50px;\n  background-color: #DF1000;\n  border-radius: 50%;\n  display: inline-block;\n}\n</style>\n<div style=\"text-align:center\">\n    <h2>Vaga 1</h2>\n    <span id=\"Vaga\" class=\"dot\"></span>\n</div>\n\n<script>\n  ;(function(scope) {\n        scope.$watch('msg', function(msg) {\n            if(msg)\n            {\n                if(msg.payload === 1)\n                {\n                  document.getElementById(\"Vaga\").style.backgroundColor = \"green\";\n                }\n                else\n                {\n                  document.getElementById(\"Vaga\").style.backgroundColor = \"red\";\n                } \n            }\n        })\n  })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":380,"wires":[[]]},{"id":"61dddb2d.285544","type":"ui_template","z":"3c8adc1.86fef24","group":"b6a1ed95.1783a","name":"Vaga2","order":3,"width":"3","height":"3","format":"<style>\n.dot {\n  height: 50px;\n  width: 50px;\n  background-color: #DF1000;\n  border-radius: 50%;\n  display: inline-block;\n}\n</style>\n<div style=\"text-align:center\">\n    <h2>Vaga 2</h2>\n    <span id=\"Vaga2\" class=\"dot\"></span>\n</div>\n\n<script>\n  ;(function(scope) {\n        scope.$watch('msg', function(msg) {\n            if(msg)\n            {\n                if(msg.payload === 1)\n                {\n                  document.getElementById(\"Vaga2\").style.backgroundColor = \"green\";\n                }\n                else\n                {\n                  document.getElementById(\"Vaga2\").style.backgroundColor = \"red\";\n                } \n            }\n        })\n  })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":480,"wires":[[]]},{"id":"396ab8f4.f567d8","type":"ui_template","z":"3c8adc1.86fef24","group":"b6a1ed95.1783a","name":"Vaga3","order":3,"width":"3","height":"3","format":"<style>\n.dot {\n  height: 50px;\n  width: 50px;\n  background-color: #DF1000;\n  border-radius: 50%;\n  display: inline-block;\n}\n</style>\n<div style=\"text-align:center\">\n    <h2>Vaga 3</h2>\n    <span id=\"Vaga3\" class=\"dot\"></span>\n</div>\n\n<script>\n  ;(function(scope) {\n        scope.$watch('msg', function(msg) {\n            if(msg)\n            {\n                if(msg.payload === 1)\n                {\n                  document.getElementById(\"Vaga3\").style.backgroundColor = \"green\";\n                }\n                else\n                {\n                  document.getElementById(\"Vaga3\").style.backgroundColor = \"red\";\n                } \n            }\n        })\n  })(scope)\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":580,"wires":[[]]},{"id":"9d582f2d.e80d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b6a1ed95.1783a","type":"ui_group","name":"Vagas","tab":"18562149.95c2ff","order":1,"disp":true,"width":"5","collapse":true},{"id":"18562149.95c2ff","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]