OPC_Subscribe_airtable.json
[{"id":"13354af5.264c05","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a2fb1e4.99b098","type":"http request","z":"13354af5.264c05","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"https://api.airtable.com/v0/appFeEmnGkxO0Qpri/Table%201?maxRecords=3&view=Grid%20view","tls":"","persist":false,"proxy":"","authType":"bearer","x":1010,"y":80,"wires":[["8b5578b6.0b4e9"]]},{"id":"b94ebc55.1ab888","type":"debug","z":"13354af5.264c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":80,"wires":[]},{"id":"dca176d.eb49f08","type":"comment","z":"13354af5.264c05","name":"Update","info":"","x":70,"y":40,"wires":[]},{"id":"708d9548.c3549c","type":"function","z":"13354af5.264c05","name":"","func":"var values = {\n  records: [\n    {\n      id: \"recnRTLpHFC0zRHHZ\",    \n      fields: {\n        NomeDaTag: \"Vaga 1\",\n        Valor: msg.payload.toString(),\n        Tipo: \"Int16\"\n      }\n    }\n  ]\n}\n\nlet json = JSON.stringify(values);\nmsg.payload = json\nmsg.method = \"PATCH\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":80,"wires":[["b2fc1a18.e55008"]]},{"id":"b2fc1a18.e55008","type":"json","z":"13354af5.264c05","name":"","property":"payload","action":"","pretty":false,"x":850,"y":80,"wires":[["8a2fb1e4.99b098"]]},{"id":"8b5578b6.0b4e9","type":"json","z":"13354af5.264c05","name":"","property":"payload","action":"","pretty":false,"x":1160,"y":80,"wires":[["b94ebc55.1ab888"]]},{"id":"5dffac52.5cb5fc","type":"inject","z":"13354af5.264c05","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["c7d31812.e05b8","7e25ae06.0ac528","c8f8286b.9f0e4"]]},{"id":"d25acfe9.990bf","type":"OpcUa-Client","z":"13354af5.264c05","endpoint":"b3e4d4c7.cf482","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":500,"y":80,"wires":[["708d9548.c3549c"]]},{"id":"c7d31812.e05b8","type":"OpcUa-Item","z":"13354af5.264c05","item":"ns=2;s=Tag1","datatype":"Int16","value":"","name":"","x":300,"y":80,"wires":[["d25acfe9.990bf"]]},{"id":"60bf300a.b0bd6","type":"http request","z":"13354af5.264c05","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"https://api.airtable.com/v0/appFeEmnGkxO0Qpri/Table%201?maxRecords=3&view=Grid%20view","tls":"","persist":false,"proxy":"","authType":"bearer","x":1010,"y":140,"wires":[["94194ac.91d44b8"]]},{"id":"3a46729e.aabb2e","type":"debug","z":"13354af5.264c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":140,"wires":[]},{"id":"e15ad926.697638","type":"function","z":"13354af5.264c05","name":"","func":"var values = {\n  records: [\n    {\n      id: \"recH5AgT63jZlGJxU\",    \n      fields: {\n        NomeDaTag: \"Vaga 2\",\n        Valor: msg.payload.toString(),\n        Tipo: \"Int16\"\n      }\n    }\n  ]\n}\n\nlet json = JSON.stringify(values);\nmsg.payload = json\nmsg.method = \"PATCH\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":140,"wires":[["9794da9d.0eeb"]]},{"id":"9794da9d.0eeb","type":"json","z":"13354af5.264c05","name":"","property":"payload","action":"","pretty":false,"x":850,"y":140,"wires":[["60bf300a.b0bd6"]]},{"id":"94194ac.91d44b8","type":"json","z":"13354af5.264c05","name":"","property":"payload","action":"","pretty":false,"x":1160,"y":140,"wires":[["3a46729e.aabb2e"]]},{"id":"387d92b3.7af626","type":"OpcUa-Client","z":"13354af5.264c05","endpoint":"b3e4d4c7.cf482","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":500,"y":140,"wires":[["e15ad926.697638"]]},{"id":"7e25ae06.0ac528","type":"OpcUa-Item","z":"13354af5.264c05","item":"ns=2;s=Tag2","datatype":"Int16","value":"","name":"","x":300,"y":140,"wires":[["387d92b3.7af626"]]},{"id":"ec15b5f2.c97ea","type":"http request","z":"13354af5.264c05","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"https://api.airtable.com/v0/appFeEmnGkxO0Qpri/Table%201?maxRecords=3&view=Grid%20view","tls":"","persist":false,"proxy":"","authType":"bearer","x":1010,"y":200,"wires":[["93690963.02fff"]]},{"id":"6e133f63.76c318","type":"debug","z":"13354af5.264c05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":200,"wires":[]},{"id":"6b8a0dab.e65804","type":"function","z":"13354af5.264c05","name":"","func":"var values = {\n  records: [\n    {\n      id: \"reckEHyyBE5NmbXBC\",    \n      fields: {\n        NomeDaTag: \"Vaga 3\",\n        Valor: msg.payload.toString(),\n        Tipo: \"Int16\"\n      }\n    }\n  ]\n}\n\nlet json = JSON.stringify(values);\nmsg.payload = json\nmsg.method = \"PATCH\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":200,"wires":[["2d63c8c7.c31368"]]},{"id":"2d63c8c7.c31368","type":"json","z":"13354af5.264c05","name":"","property":"payload","action":"","pretty":false,"x":850,"y":200,"wires":[["ec15b5f2.c97ea"]]},{"id":"93690963.02fff","type":"json","z":"13354af5.264c05","name":"","property":"payload","action":"","pretty":false,"x":1160,"y":200,"wires":[["6e133f63.76c318"]]},{"id":"b7e9f0f.f3a8f9","type":"OpcUa-Client","z":"13354af5.264c05","endpoint":"b3e4d4c7.cf482","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":500,"y":200,"wires":[["6b8a0dab.e65804"]]},{"id":"c8f8286b.9f0e4","type":"OpcUa-Item","z":"13354af5.264c05","item":"ns=2;s=Tag3","datatype":"Int16","value":"","name":"","x":300,"y":200,"wires":[["b7e9f0f.f3a8f9"]]},{"id":"b3e4d4c7.cf482","type":"OpcUa-Endpoint","endpoint":"opc.tcp://desktop-vesvg4i:62642/IntegrationObjects/ServerSimulator","secpol":"None","secmode":"None","login":false}]