OPC_Publish_sensores.json
[{"id":"9eee71e3.9647f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"14c3f4e2.54efe3","type":"comment","z":"9eee71e3.9647f","name":"Sensores","info":"","x":100,"y":40,"wires":[]},{"id":"2f98c3bc.51338c","type":"OpcUa-Item","z":"9eee71e3.9647f","item":"ns=2;s=Tag1","datatype":"Int16","value":"","name":"","x":510,"y":120,"wires":[["26728a5a.ed8386"]]},{"id":"59f7c49c.e420b4","type":"OpcUa-Item","z":"9eee71e3.9647f","item":"ns=2;s=Tag2","datatype":"Int16","value":"","name":"","x":510,"y":240,"wires":[["dbc0377b.439648"]]},{"id":"1ccd16f8.b95341","type":"OpcUa-Item","z":"9eee71e3.9647f","item":"ns=2;s=Tag3","datatype":"Int16","value":"","name":"","x":510,"y":360,"wires":[["c0e2d9ab.a33a"]]},{"id":"26728a5a.ed8386","type":"OpcUa-Client","z":"9eee71e3.9647f","endpoint":"a0e68ffb.d62f2","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":710,"y":120,"wires":[["a0dc879f.b3349"]]},{"id":"dbc0377b.439648","type":"OpcUa-Client","z":"9eee71e3.9647f","endpoint":"77b3ca0e.7e0fe4","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":710,"y":240,"wires":[["f1125f37.119658"]]},{"id":"c0e2d9ab.a33a","type":"OpcUa-Client","z":"9eee71e3.9647f","endpoint":"b4f73ba1.c826","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":710,"y":360,"wires":[["7df79019.5d314"]]},{"id":"a0dc879f.b3349","type":"debug","z":"9eee71e3.9647f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":120,"wires":[]},{"id":"f1125f37.119658","type":"debug","z":"9eee71e3.9647f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":240,"wires":[]},{"id":"7df79019.5d314","type":"debug","z":"9eee71e3.9647f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":360,"wires":[]},{"id":"3e9341de.9cb13e","type":"ui_switch","z":"9eee71e3.9647f","name":"Vaga 1","label":"Vaga 1","tooltip":"","group":"b50698c8.0e404","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check","oncolor":"Green","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"Red","animate":false,"x":100,"y":120,"wires":[["4c9466cb.30a248"]]},{"id":"1b4ba503.e59323","type":"ui_switch","z":"9eee71e3.9647f","name":"Vaga 2","label":"Vaga 2","tooltip":"","group":"b50698c8.0e404","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check","oncolor":"Green","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"Red","animate":false,"x":100,"y":240,"wires":[["c60bef38.1ebb4"]]},{"id":"9bfb35d1.4bf0f8","type":"ui_switch","z":"9eee71e3.9647f","name":"Vaga 3","label":"Vaga 3","tooltip":"","group":"b50698c8.0e404","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-check","oncolor":"Green","offvalue":"false","offvalueType":"bool","officon":"fa-close","offcolor":"Red","animate":false,"x":100,"y":360,"wires":[["a3f89779.e253b8"]]},{"id":"4c9466cb.30a248","type":"function","z":"9eee71e3.9647f","name":"","func":"msg.payload = msg.payload ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":120,"wires":[["2f98c3bc.51338c"]]},{"id":"c60bef38.1ebb4","type":"function","z":"9eee71e3.9647f","name":"","func":"msg.payload = msg.payload ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["59f7c49c.e420b4"]]},{"id":"a3f89779.e253b8","type":"function","z":"9eee71e3.9647f","name":"","func":"msg.payload = msg.payload ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":360,"wires":[["1ccd16f8.b95341"]]},{"id":"a0e68ffb.d62f2","type":"OpcUa-Endpoint","endpoint":"opc.tcp://desktop-vesvg4i:62642/IntegrationObjects/ServerSimulator","secpol":"None","secmode":"None","login":false},{"id":"77b3ca0e.7e0fe4","type":"OpcUa-Endpoint","endpoint":"opc.tcp://desktop-vesvg4i:62642/IntegrationObjects/ServerSimulator","secpol":"None","secmode":"None","login":false},{"id":"b4f73ba1.c826","type":"OpcUa-Endpoint","endpoint":"opc.tcp://desktop-vesvg4i:62642/IntegrationObjects/ServerSimulator","secpol":"None","secmode":"None","login":false},{"id":"b50698c8.0e404","type":"ui_group","name":"Vagas","tab":"d76df793.8d306","order":1,"disp":true,"width":"6","collapse":false},{"id":"d76df793.8d306","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]